<div>
  <p>This is my sandbox project on which I experiment on <strong>Angular2</strong> and <strong>RxJS</strong>, using <strong>TypeScript</strong> and <strong>Webpack</strong>. I've used my own boilerplate <a href="https://github.com/topheman/webpack-babel-starter" title="topheman/webpack-babel-starter on github">topheman/webpack-babel-starter</a> that I ported from <strong>Babel</strong>/<strong>ESLint</strong> to <strong>TypeScript</strong>/<strong>TSLint</strong> to bootstrap the project.</p>
  <p></p>
  <p>This is still a work in progress ...</p>
  <div *ngIf="DEVTOOLS === false">
    <p>This is the <strong>production packaged</strong> version (html/css/js uglified). You can <a href="./devtools/" title="Test with devtools & sourcemaps" style="font-weight: bold">test the site in debug mode here</a>, where you'll have access to:</p>
    <ul>
      <li>sourcemaps for <code>scss</code>/<code>ts</code></li>
    </ul>
    <p class="text-center"><a href="./devtools/" title="Test with devtools & sourcemaps" class="btn btn-default btn-primary" style="white-space: pre-wrap">I'm a developer, I want to see what's under the hood!</a></p>
  </div>
  <div *ngIf="DEVTOOLS === true">
    <p>This is the <strong>development packaged</strong> version (<a href="../" title="checkout in production mode">the production version is here</a>). In the current mode, you have access to:</p>
    <ul>
      <li>sourcemaps for scss/ts (open the sources tab of your developer tools)</li>
    </ul>
    <p>Those features are meant to be used only in the development but I felt it would be a great way to let you discover them.</p>
  </div>
</div>
