.cursor-pointer {
  cursor: pointer;
}

.ColorInterval .items-log ul {
  list-style: none;
  padding-left: 0px;
  li span {
    word-break: break-word;
  }
}

@media only screen
and (min-width: $grid-float-breakpoint) {
  .ColorInterval {
    .form-group-input-color input.form-control {
      width: 250px;
    }
    .form-group-input-interval .input-group {
      width: 305px;
    }
  }
}
