<footer class="footer container">
  <p>
    ©{{date | date:'yyyy'}} <a href="http://labs.topheman.com/">labs.topheman.com</a> - Christophe Rosset<br/>
    <iframe
      width="78px"
      height="28px"
      title="Twitter Tweet Button"
      style="border: 0; overflow: hidden;"
      scrolling="no"
      src="https://platform.twitter.com/widgets/tweet_button.html?count=none&dnt=false&lang=en&original_referer=http%3A%2F%2Ftopheman.github.io%2Fangular2-sandbox%2F%23%2F&size=l&text=Mixing%20%23Angular2%20and%20%23RxJS%2C%20using%20%23ngrx/store%20for%20state%20management%20and%20%23Webpack%20for%20bundling&type=share&url=https%3A%2F%2Ftopheman.github.io%2Fangular2-sandbox%2F&via=topheman"></iframe>
  </p>
</footer>
